<div id="recuadro-header">
    <md-toolbar  ng-controller="headerCtrl" layout-padding layout="row" md-whiteframe="2" ng-cloak style="background-color: #3d418c;">
    <div class="md-toolbar-tools">
        <h2>UndackApp</h2>
    </div>
    <md-nav-bar id="recuadro-nav"
            md-selected-nav-item="currentNavItem"
            nav-bar-aria-label="navigation links">
        <md-nav-item ui-sref="news.show" md-nav-click="goto('page1')" style="background-color:#3d418c" name="page1">
            Inicio
        </md-nav-item>
        <md-nav-item ui-sref="news.index" md-nav-click="goto('page2')" style="background-color:#3d418c" name="page2">
            Novedades
        </md-nav-item>
    </md-nav-bar>
</md-toolbar>
</div>