<div>
    <md-button class="md-raised md-primary" ui-sref="news.create">Agregar Nueva</md-button>
    <div ng-show="news">
        <h1>Novedades</h1>
        <table>
            <tr>
                <th>Titulo</th>
            </tr>
            <tr ng-repeat="aNew in news">
                <td>{{aNew.title}}</td>
                <td>
                    <md-button class="md-raised md-primary" ng-click="setAsTop(aNew);">Destacar</md-button>
                    <md-button class="md-raised md-primary" ui-sref="news.edit({id:aNew.id})">Editar</md-button>
                    <md-button class="md-raised md-primary" ng-click="delete(aNew);">Eliminar</md-button>
                </td>
            </tr>
        </table>
    </div>
</div>